*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  /* prevent grid double border */
  margin-top: -3px;
  margin-left: -2px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #CBCE91FF, #EA738DFF);
  
  }

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  padding-bottom: 0;
}  

.calculator-grid > button {
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border: 1px, solid #FFFFFF;
  outline: none;     
}

  .calculator-grid > button:hover {
    background-color: #a9a9a9;
  }

  .span-two-col {
    grid-column: span 2;
  }
  .span-two-row {
    grid-row: span 2;
    background-color: #0B346E;
  }
  /* AC color */
  .data-all-clear {
    background-color: #D0104C;
  }
  /* number color */
  .data-number {
    background-color: #414141;
  }
  /* + - x / color */
  .data-operation {
    background-color: #777777;
  }
  .output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .output .formula{
    color: orange;
    font-size: 1.5rem;
  }

  .output .current{
    color: white;
    font-size: 2.5rem;
  }

  .author {
    margin-top: -30px;
    text-align: center;
  }
  .author p {
    margin: 0;
  }